@use '../../../assets/styles/_resources' as *;

.container {
  flex: 1 0 auto;
  background-color: $page_bg;
  width: 100%;
  padding: $sp_gap;
  max-width: $container_sp;
  margin: 0 auto;

  @media (min-width: $tb_bp) {
    padding: $tb_gap;
    max-width: $container_tb;
  }

  @media (min-width: $dt_bp) {
    padding: $dt_gap;
    max-width: $container_dt;
  }
}