/* MAIN COLOR VARIABLES */
$primary_color: #e4229c;
$secondary_color: #e8eaf2;
$error_color: red;

/* BACKGROUND VARIABLES */
$page_bg: #1f002b;

/* TEXT VARIABLES */
$text_white_color: #ffffff;
$text_pink_color: #e4229b;
$text_pink_color2: #eb2f9a;
$text_grey_color: #c4c8cc;
$text_grey_color2: #b6b8c3;
$text_grey_color3: #f2f3f5;

/* BUTTON VARIABLES */
$button_color: $text_white_color;
$button_bg: #e4229c;
$button_disabled_opacity: 0.4;
$button_hover_opacity: 0.8;

$quiz_button_bg: #36173d;
$quiz_button_bg2: #e4229b33;
$quiz_bubble_border: 2px solid #e4229b;

/* CHECKBOX VARIABLES */
$checkbox_bg: #6d4376;
$checkbox_bg_active: #e4229c;
$checkbox_border: 1px solid #e4229c;

/* INPUT VARIABLES */
$input_placeholder_color: #c4c8cc80;
$input_placeholder_focus_color: #c4c8cc;
$input_bg_color: #36173d;
$input_border_color: #36173d;

$input_active_bg_color: #36173d;
$input_active_border_color: #36173d;
$input_text_color: $text_white_color;

$input_error_border_color: $error_color;
$input_error_label_color: $error_color;
