/* BREAKPOINTS VARIABLES */
$tb_bp: 560px;
$dt_bp: 1200px;

/* GAP VARIABLES */
$sp_gap: 20px;
$tb_gap: 30px;
$dt_gap: 40px;

/* CONTAINER VARIABLES */
$container_sp: 375px;
$container_tb: 480px;
$container_dt: 1020px;
