/* BREAKPOINTS VARIABLES */
$tb_bp: 560px;
$dt_bp: 1200px;

/* GAP VARIABLES */
$sp_gap: 24px;
$tb_gap: 32px;
$dt_gap: 40px;

/* CONTAINER VARIABLES */
$container_sp: 327px;
$container_tb: 480px;
$container_dt: 1020px;